# List of files to be ignored by git when interacting with the public github repository.

# Eclipse/python project management files
.pydevproject
.project
# The following applies to any file named __pycache__ in any subdirectory
__pycache__/

# Log files
*.log

# Output from nohup command on linux
nohup.out

# Data files containing settings for particular installations

# directory.json contains path names to different services, and needs to be updated
# depending on where the services are installed.
COACH/framework/settings/directory.json

# authentication.json contains user data for a particular server
COACH/framework/settings/authentication.json

# File for storing passwords etc.
COACH/framework/settings/root_secret_data.json