<h2>Estimation methods</h2>

<script>
	function combo_box_change(new_submit_component_value) {
		document.getElementById("submit_button_input").value = new_submit_component_value;
		document.getElementById("estimation_method_form").submit();
	}
</script>

<form id="estimation_method_form" action="/property_model_request?endpoint=manage_estimation_method_form" method="post" accept-charset="UTF-8">
	<label> Alternative: </label>
	<select name="alternative_name" onchange="combo_box_change('main_combo_box')">
		{% for alternative_name in alternatives_name_list %}
			{% if alternative_name == selected_alternative_name %}
				<option selected>{{alternative_name}}</option>
			{% else %}
				<option>{{alternative_name}}</option>
			{% endif %}
		{% endfor %}
	</select>
	<br/>
	<br/>
	
	<label> Property: </label>
	<select name="property_name" onchange="combo_box_change('main_combo_box')">
		{% for property_name in properties_name_list %}
			{% if property_name == selected_property_name %}
				<option selected>{{property_name}}</option>
			{% else %}
				<option>{{property_name}}</option>
			{% endif %}
		{% endfor %}
	</select>
	<br/>
	<br/>
	
	<label> Estimation method: </label>
	<select name="estimation_method_name" onchange="combo_box_change('main_combo_box')">
		{% for estimation_method_name in estimation_methods_name_list %}
			{% if estimation_method_name == selected_estimation_method_name %}
				<option selected>{{estimation_method_name}}</option>
			{% else %}
				<option>{{estimation_method_name}}</option>
			{% endif %}
		{% endfor %}
	</select>
	<br/>
	<br/>
	
	{% if 0 == 	used_properties | length %}
		No used property
		<br/>
	{% else %}
		Used properties:
		<ul>
			{% for used_property in used_properties %}
				<li>
					{{used_property.name}}
					<select name="{{used_property.name}}_selected_estimation_method" onchange="combo_box_change('main_combo_box')">
						{% for estimation_method_name in used_property.estimation_methods_name %}
							{% if estimation_method_name == used_property.selected %}
								<option selected>{{estimation_method_name}}</option>
							{% else %}
								<option>{{estimation_method_name}}</option>
							{% endif %}
						{% endfor %}
					</select>
					Value : {{used_property.value}}
					<input name="{{used_property.name}}_property_value" value="{{used_property.value}}" type="hidden"></input>
					<button name="submit_component" type="submit" value="{{used_property.name}}_goto_button">Goto</button>
					{% if not used_property.up_to_date %}
						/!\ This value is out-of-date
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<br/>
	
	{% if 0 == selected_estimation_method_parameters_list | length %}
		No parameters
		<br/>
	{% else %}
		<label> Used parameters: </label>
		<ul>
			{% for parameter_name in selected_estimation_method_parameters_list %}
				<li>
					{{parameter_name}}:
					<input type="number" name="{{parameter_name}}_parameter" 
							value='{{selected_estimation_method_parameters_list[parameter_name]}}' required></input>
				</li>
			{% endfor %}
		</ul>		
	{% endif %}
	<br/>
	
	{% if estimation_value == None %}
		This estimation has not been computed yet
	{% else %}
		Current value is {{estimation_value.value}}
		{% if not estimation_value.up_to_date %}
			<br/>
			/!\ The current value is out-of-date
		{% endif %}
	{% endif %}
	<br/>
	
	{% if enable_compute_button %}
		<input name="submit_component" type="submit" value="Compute"></input>
	{% else %}
		<input name="submit_component" type="submit" value="Compute" disabled></input>
	{% endif %}
	
	
	 <!-- If the form is submitted with a button, this input will be ignored. Else, submit_component will 
	 have the value of this input, which would have been modified by the submitting component to put its name -->
	<input id="submit_button_input" type="hidden" name="submit_component" value=""></input>
</form>