* {
	font-family: sans-serif;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

h1 { font-size: 40px; }

ul { 
	list-style-position: inside; 
}

#menu {
	width: 250px;
	height: 100vh;
	float: left;
	padding: 5px;
	background-color: #ffd213;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	display: block;
}

#menu li:hover {
	background-color: #edeadb;
}

#menu a {
	text-decoration: none;
	color: black;
}

#heading h1{
    padding: 5px;
}

#main_dialogue {
    float:left;
    padding: 5px;
    height: 100vh;
}

div.contextdetails {
   /*  background-color: #AAAAAA; */
    margin-left: 1cm;
}

div.contextentry {
/*     background-color: #EEEEEE;  */
    margin-top: 1em;
    width: 38em; /* NOTE: Hard-coded to look ok locally */
}
