<h2>Pugh analysis matrix</h2>

<form action="/decision_process_request?endpoint=change_rating" method="post" accept-charset="UTF-8">
	<table class="properties_estimation_table">
		<tr>
			<th colspan="2">Criterium</th>
			{%- for alternative in alternatives_list %}
				<th> {{alternative[0]}} </th>
			{% endfor -%}
		</tr>
		
		{%- for criterium in criteria_nested_list %}
			<tr class="criteria_row">
				<th class="criteria" colspan="2">{{criterium.criterium_name}}</th>
				{%- for alternative in alternatives_list %}
					<td> 
						<input type="number" name="{{alternative[1]}}_{{criterium.criterium_name}}" min="-2" max="2" 
								{%- if alternative[1] == baseline_uri %}
									value="0" disabled/>
								{% else %}
									value="{{criterium.ranking[alternative[0]]}}"/>
								{% endif -%}
					</td>
				{% endfor -%}
			</tr>
			
			{%- for property in criterium.criterium_properties_list %}
				<tr class="property_row">
					<th rowspan="{{property.estimation_methods | length}}">{{property.property_name}}</th>
					
					<!-- The first estimation method must be here and not in a new row -->
					<th>{{property.estimation_methods[0].estimation_method_name}}</th>
					{%- for value_object in property.estimation_methods[0].estimated_values %}
						<td {%- if not value_object.up_to_date %} class="out_of_date" {% endif -%}>
							{%- if value_object.value is number %}
								{{ "%.4f" | format(value_object.value) }}
							{% else %}
								{{value_object.value}}
							{% endif -%}
						</td>
					{% endfor -%}
				</tr>
				
				{%- for estimation in property.estimation_methods %}
					{%- if estimation != property.estimation_methods[0] %}
						<tr>
							<th>{{estimation.estimation_method_name}}</th>
							{%- for value_object in estimation.estimated_values %}
								<td {%- if not value_object.up_to_date %} class="out_of_date" {% endif -%}>
									{%- if value_object.value is number %}
										{{ "%.4f" | format(value_object.value) }}
									{% else %}
										{{value_object.value}}
									{% endif -%}
								</td>
							{% endfor -%}
						</tr>
					{% endif -%}
				{% endfor -%}
			{% endfor -%}
		{% endfor -%}
		
		<!-- 
		<tr>
			<td>
				Sum
			</td>
			<td></td>
			{%- for s in sums %}
				<td> 
					{{ s | safe }} 
				</td>
			{% endfor -%}
		</tr>
	 -->
	</table>
	
	<input type="submit" value="Save">
</form>

