<H2>Edit Context</H2>

<FORM action="{{this_process | safe}}edit_context" method="post">
<B>Context</B>
<br><i>General information concerning the context, to be further elaborated in the categories below.</i>
<BR><textarea rows="5" cols="70" name="context_text">{{context_text}}</textarea>
<!--
<BR><B>Organization</B>
<br><i>Information concerning the structure of the organization(s) and the people in it where the decision was made.</i>
<BR><textarea rows="5" cols="70" name="organization"></textarea>
<BR><B>Product</B>
<br><i>Information concerning the product for which the decision was made (product = software-intensive system).</i>
<BR><textarea rows="5" cols="70" name="product"></textarea>
<BR><B>Stakeholders</B>
<br><i>Information concerning stakeholders that affected or were affected by the decision.</i>
<BR><textarea rows="5" cols="70" name="stakeholders"></textarea>
<BR><B>Development method and technology</B>
<br><i>Information concerning systematic approaches that were used in the development of the product.</i>
<BR><textarea rows="5" cols="70" name="developmentmethodandtechnology"></textarea>
<BR><B>Market and business</B>
<br><i>Information concerning external factors that affected the decision from market, business, society etc.</i>
<BR><textarea rows="5" cols="70"name="marketandbusiness"></textarea>
-->
</SELECT>

<INPUT type="hidden" name="root" value="{{root | safe}}"/>
<INPUT type="hidden" name="case_id" value="{{case_id | safe}}"/>
<BR>

<INPUT type="submit" value="Save"/>
</FORM>
