<h2>Change password</h2>

<div style="color:red">
{% if error == "UserExists": %}
Error: User already exists!
{% elif error == "PasswordsNotEqual": %}
Error: Password and repeated password not equal!
{% endif %} 
</div>

<form action="/change_password" method="post" accept-charset="UTF-8">
New password: 
<br><input type="password" name="password1" required>
<br>
Repeat new password: 
<br><input type="password" name="password2" required>
<br>
<input type="submit" value="Change password">
</form>
