<h2>Computed similarity</h2>

<form method="post" action="/compute_similarity" accept-charset="UTF-8">
	<div>
		<label for="number_of_returned_case">Number of returned case:</label>
		<input id="number_of_returned_case" name="number_of_returned_case" type="number" min="1" value="3" required/>
	</div>
	<div>
		<label for="number_ratio_threshold">Number ratio threshold:</label>
		<input id="number_ratio_threshold" name="number_ratio_threshold" type="number" step="any" min="1" value="1.5" required/>
	</div>
	<div>
		<label for="goal_weight">Goal weight:</label>
		<input id="goal_weight" name="goal_weight" type="number" step="any" min="0" value="1" required/>
	</div>
	<div>
		<label for="context_weight">Context weight:</label>
		<input id="context_weight" name="context_weight" type="number" min="0" value="1" required/>
	</div>
	<div>
		<label for="stakeholders_weight">Stakeholders weight:</label>
		<input id="stakeholders_weight" name="stakeholders_weight" type="number" min="0" value="1" required/>
	</div>
	<div>
		<label for="export_case">Export case to knowledge repository:</label>
		<input id="export_case" name="export_case" type="checkbox"/>
	</div>
	<div>
		<input type="submit" value="Compute"/>
	</div>
</form>