<h2>Create new user</h2>

<div style="color:red">
{% if error == "UserExists": %}
Error: User already exists!
{% elif error == "PasswordsNotEqual": %}
Error: Password and repeated password not equal!
{% endif %} 
</div>

<form action="/create_user" method="post" accept-charset="UTF-8">
Full name: 
<br>
<input type="text" name="name" required>
<br>
E-mail: 
<br>
<input type="email" name="email" required>
<br>
User name: 
<br><input type="text" name="user_id" required>
<br>
Password: 
<br><input type="password" name="password1" required>
<br>
Repeat password: 
<br><input type="password" name="password2" required>
<br>
<input type="submit" value="Create user">
</form>
