<!DOCTYPE HTML>
<HTML>
<HEAD>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='format.css') }}">
<TITLE>COACH</TITLE>
</HEAD>

<BODY align="center">
<BR><BR>
<IMG src="{{ url_for('static', filename='logotype.png') }}">
<BR>
<BR>
<H1>COACH Decision Support System</H1>
<BR>
<BR>
<DIV style="color:red">
{% if error == "FieldMissing": %}
Error: User name or password missing!
{% elif error == "NoSuchUser": %}
Error: User does not exist, or has not been confirmed!
{% elif error == "WrongPassword": %}
Error: Wrong password!

{% endif %} 
</DIV>

<FORM action="/login_user" method="post" accept-charset="UTF-8">
User id: 
<BR>
<INPUT type="text" name="user_id" required>
<BR>
Password: 
<BR>
<INPUT type="password" name="password" required>
<BR>
<INPUT type="submit" value="Login">
</FORM>

<BR>
<BR>

<FORM action="/create_user_dialogue" accept-charset="UTF-8">
<INPUT type="submit" value="Create new user">
</FORM>


<BR>
<BR>

<DIV style="text-align: center;">
<TABLE width= "50%" style="border: 2px solid black; background-color: #ffd213; margin: 0 auto;">
<TR><TD align="left">
<B>Warning:</B> This software is a research prototype. Be careful not to enter any sensitive data.
The software will be continuously changed and updated without prior notice, and in this process data may be lost.
Parts of the service may be discontinued or interrupted at any point in time.<BR>
<BR>
This software is version {{ session["version"] }}.
</TD></TR>
</TABLE>
</DIV>

</BODY>
</HTML>