<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="format.css" media="screen" />
<title>COACH</title>
</head>

<div id="menu">
<img src="logotype.png">
<div id="main_menu">
Logged in as:<BR>
{{ session["user_id"] }}
<hr>
<strong>General</strong><br>
Change password<br>
Logout<br>
Open case<br>
Create case
</div>

<hr>

<div id="case_menu">
<strong>Case management</stron><br>
{% if session["case_id"] %}
Open case<br>
Create case
{% else %}
<font color="grey">
Open case<br>
Create case
</font>
{% end if %}
</div>

<hr>

<div id="process_menu">
<strong>Decision process</strong><br>
{% if process_menu is defined %}
{{ process_menu | safe }}
{% end if %}
</div>
</div>

<div id="main_dialogue">
<h2>COACH Decision Support System</h2>
{% if main_dialogue is defined %}
{{ main_dialogue | safe }}
{% end if %}
</div>

<body>
</body>
</html>