<!DOCTYPE HTML>
<HTML>
<HEAD>
<TITLE>COACH</TITLE>
</HEAD>

<BODY>
<H2>Edit user profile</H2>

<!--DIV style="color:red">
{% if error == "UserExists": %}
Error: User already exists!
{% elif error == "PasswordsNotEqual": %}
Error: Password and repeated password not equal!
{% endif %} 
</DIV-->

<FORM action="/edit_user_profile" method="post" accept-charset="UTF-8">
Full name: 
<BR>
<INPUT type="text" name="user_name" value="{{ user_profile["user_name"] }}" required>
<BR>
E-mail: 
<BR>
<INPUT type="email" name="email" value="{{ user_profile["email"] }}" required>
<BR>
Company: 
<BR><INPUT type="text" name="company_name" value="{{ user_profile["company_name"] }}">
<BR>
<INPUT type="submit" value="Save">
</FORM>

</BODY>
</HTML>